:root{
    --grey-accent: rgb(234, 237, 243);
  }
  
  * {
    font-family: 'Krub', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }
  
  html, body {
    /* width: 100vw;
    height: 100vh; */
    overflow: hidden;
  }
  
  .container {
    display: grid;
    grid-template-columns: 200px 1fr;
  }
  
  .dashboard {
    padding-top: calc(1em + 10px);
    padding-left: 10px;
    background-color: dodgerblue;
    color: #ffffff;
    display: grid;
    grid-column: 1;
    grid-row: 1 / -1;
  }
  
  .dashboard ul {
    margin-top: 15px;
    padding: 0;
    list-style: none;
    display: grid;
    grid-column: 1;
    grid-template-rows: repeat(5, 1fr) 2fr repeat(3, 1fr);
  }
  
  .dashboard > span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .icon{
    width: 20px;
    height: 20px;
    margin: 0 7px;
  }
  
  h3{
    font-weight: 300;
    font-size: 18px;
  }
  
  h4{
    font-weight: 300;
    font-size: 14px;
    margin: 0;
  }
  
  .dashboard-content > li {
    margin: 7px 0;
    display: grid;
    grid-template-columns: 1fr 7fr;
    justify-items: start;
    align-items: start;
  }
  
  .header {
    padding-top: 1em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    /*grid-template-columns: 400px 200px;*/
    grid-template-rows: 1fr 2fr;
    align-items: start;
  }
  
  .header > .top-left{
    padding: 10px;
    display: flex;
    flex: 1;
    align-items: center;
  }
  
  .search {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .top-left > input {
    appearance: none;
    height: 23px;
    border: 1px solid var(--grey-accent);
    background-color:  var(--grey-accent);
    border-radius: 15px;
    /*width: 80%; */
  }
  
  .header > .top-right {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }
  
  