:root{
    --white: #ffffff;
    --gray: #f0f0f0;
    --darker-gray: #c7c7c7;
    --darkest-gray: #aaaaaa;
    --green: #60ce80;
    --dark-blue: #154360;
  }
  
  * {
    font-family: 'Krub', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }
  
  ul {
    list-style: none;
  }

  button{
    appearance: none;
  }

  button:hover{
    cursor: pointer;
  }

  .container {
    display: grid;
    grid-template-columns: 300px 1fr;
  }
  
  .dashboard {
    padding-top: calc(1em + 10px);
    padding-left: 10px;
    background-color: var(--dark-blue);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1 / -3;
  }
  
  .dashboard ul {
    margin-top: 15px;
    padding: 0;
    list-style: none;
    display: grid;
    grid-column: 1;
    grid-template-rows: repeat(5, 1fr) 2fr repeat(3, 1fr);
  }
  
  .dashboard > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .icon{
    width: 20px;
    height: 20px;
    margin: 0 7px;
  }
  
  h3{
    font-weight: 300;
    font-size: 20px;
  }
  
  h4{
    font-weight: 300;
    font-size: 17px;
    margin: 0;
  }
  
  .dashboard {
    position: relative;
  }

  .dashboard-content, .dashboard > div {
    position: fixed;
  }

  .dashboard > div {
    top: 20px;
  }

  .dashboard-content {
    top: 50px;
  }

  .dashboard-content > li {
    margin: 9px 0;
    display: grid;
    grid-template-columns: 1fr 7fr;
    justify-items: start;
    align-items: start;
    transition: transform .3s;
  }

  .dashboard-content > li:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  
  .header {
    padding-top: 1em;
    height: 150px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: start;
    grid-column: 2;
  }
  
  .header > .top.left{
    padding: 10px;
    display: flex;
    flex: 1;
    align-items: center;
    gap: 10px;
  }
  
  .search {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 12px;
  }
  
  .top.left > input {
    appearance: none;
    height: 30px;
    border: 1px solid var(--dark-gray);
    background-color:  var(--gray);
    border-radius: 15px;
    width: 80%;
    padding: 0 13px;
  }

  .top.left > input:focus, .top.left > input:active {
        outline: none;
        border:1px solid var(--darker-gray);
        /* box-shadow: 0 0 0 2pt red; */
        border-radius: 15px;
        box-shadow: .5px .5px 2px var(--dark-gray);
  }
  
  .header > .top.right {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
  }

  .header > .bottom.left {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  .top.right > .icon {
    width: 30px;
    height: 30px;
  }

  .top.right > .icon:hover {
    cursor: pointer;
  }

  .content {
    grid-column: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .content > .projects {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px repeat(3, 1fr);
  }

  .bottom.left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .profile > .greeting {
    font-size: 12px;
  }

  .profile-picture > .icon.profile{
    width: 60px;
    height: 60px;
  }

.bottom.right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    gap: 25px;
    
}

.bottom.right > button {
    font-size: 14px;
    width: 5rem;
    padding: 7px 15px;
    border: 0;
    border-radius: 15px;
    background-color: var(--green);
    color:  var(--white);
}

.bottom{
    box-shadow: 0 2px 2px -2px var(--darker-gray);
}

.content {
    padding: 25px 10px;
}

.projects {
    padding: 0 10px;
    grid-column: 1 / 2;
}

.projects > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    padding-top: 15px;
}

.card{
    border: 1px solid var(--darkest-gray);
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(90deg, var(--green) 1.5%, var(--white) 0);
    transition: transform .3s;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.description, .project {
    color: grey;
    font-weight: normal;
    font-size: 12px;
  }
  
   .title, .user {
    font-size: 15px;
  }

  .title{
    margin-bottom: 5px;
  }

  .card-actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }

.side{
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
}

.side > p:nth-last-of-type(1) {
    margin-top: 25px;
}

.announcements, .trending{
    border: 1px solid var(--darkest-gray);
    border-radius: 15px;
    padding: 10px 15px;
    font-size: 12px;
    flex: 1;
    margin-top: 15px;
}

.announcements > ul,
.trending > ul {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.announcements > ul > li:hover,
.trending > ul > li:hover {
    cursor: pointer;
}

.anc-title{
    font-size: 14px;
    color: black;
}

.anc-description {
    font-size: 12px;
    color:var(--darkest-gray);
}

.trn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile > img {
    width: 30px;
    height: 30px;
}